@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Host Grotesk', sans-serif;
    background: #2A2A2A;
    position: relative;
    overflow-x: hidden;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 85% 60%, rgba(198, 97, 63, 0.5) 0%, rgba(179, 0, 0, 0) 35%);
    filter: blur(200px);
    pointer-events: none;
    z-index: 0;
  }
}
